proxmox_host = {
  pm_api_url      = "https://10.0.0.10:8006/api2/json"
  pm_user         = "terraform-prov@pve"
  pm_password     = "password!!!"
  pm_tls_insecure = true
  target_node     = "my-node-proxmox"
}

vmid = 1000

hostnames = [
  "manager",
  "worker",
  "dashboard",
  "wi1",
  "wi2",
  "wi3",
  "nginx"
]

nameserver = "9.9.9.9"

ips = [
  "192.168.110.10",   # manager
  "192.168.110.11",   # worker
  "192.168.110.12",   # dashboard
  "192.168.110.13",   # wi1
  "192.168.110.14",   # wi2
  "192.168.110.15",   # wi3
  "192.168.110.2"     # nginx
]

# nginx
nginx_extern_ip = "10.10.10.100"
nginx_extern_gw = "10.10.10.1"

vlan_tag = 10

hardware = { 
  "manager"   = { cores = 2, sockets = 1, memory = 2560, disk = "50G"  }, 
  "worker"    = { cores = 2, sockets = 1, memory = 2560, disk = "30G"  }, 
  "dashboard" = { cores = 1, sockets = 1, memory = 1536, disk = "30G"  }, 
  "wi1"       = { cores = 2, sockets = 1, memory = 2560, disk = "100G" }, 
  "wi2"       = { cores = 2, sockets = 1, memory = 2560, disk = "100G" }, 
  "wi3"       = { cores = 2, sockets = 1, memory = 2560, disk = "100G" },
  "nginx"     = { cores = 1, sockets = 1, memory = 768,  disk = "20G"  },
}

ssh_keys = {
  pub  = "~/.ssh/provisioning.pub"
  priv = "~/.ssh/provisioning"
}

user = "prov-user"


# Default indexer admin
indexer_admin_password        = "IdxAdm1n.Str0ng?"
# kibanaserver (Dashboard -> Indexer)
indexer_kibanaserver_password = "KbSrv9xQpT+"

# keep it false if you use wazuh-passwords-tool.sh
indexer_custom_user        = ""
indexer_custom_user_role   = ""
indexer_create_custom_user = false

# API admin
wazuh_api_password      = "WazuhAPI8Fq?Tz"
wazuh_api_wui_password  = "WuiToApi3Lx?R9"
